USE [GCosmetic]
GO
/****** Object:  UserDefinedFunction [dbo].[fuConvertToUnsign1]    Script Date: 11/9/2021 8:53:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 CREATE FUNCTION [dbo].[fuConvertToUnsign1] ( @strInput NVARCHAR(4000) ) RETURNS NVARCHAR(4000) AS BEGIN IF @strInput IS NULL RETURN @strInput IF @strInput = '' RETURN @strInput DECLARE @RT NVARCHAR(4000) DECLARE @SIGN_CHARS NCHAR(136) DECLARE @UNSIGN_CHARS NCHAR (136) SET @SIGN_CHARS = N'ăâđêôơưàảãạáằẳẵặắầẩẫậấèẻẽẹéềểễệế ìỉĩịíòỏõọóồổỗộốờởỡợớùủũụúừửữựứỳỷỹỵý Ă ĐÊÔƠƯÀẢÃẠÁẰẲẴẶẮẦẨẪẬẤÈẺẼẸÉỀỂỄỆẾÌỈĨỊÍ ÒỎÕỌÓỒỔỖỘỐỜỞỠỢỚÙỦŨỤÚỪỬỮỰỨỲỶỸỴÝ' +NCHAR(272)+ NCHAR(208) SET @UNSIGN_CHARS = N'aadeoouaaaaaaaaaaaaaaaeeeeeeeeee iiiiiooooooooooooooouuuuuuuuuuyyyyy AADEOOUAAAAAAAAAAAAAAAEEEEEEEEEEIIIII OOOOOOOOOOOOOOOUUUUUUUUUUYYYYYDD' DECLARE @COUNTER int DECLARE @COUNTER1 int SET @COUNTER = 1 WHILE (@COUNTER <=LEN(@strInput)) BEGIN SET @COUNTER1 = 1 WHILE (@COUNTER1 <=LEN(@SIGN_CHARS)+1) BEGIN IF UNICODE(SUBSTRING(@SIGN_CHARS, @COUNTER1,1)) = UNICODE(SUBSTRING(@strInput,@COUNTER ,1) ) BEGIN IF @COUNTER=1 SET @strInput = SUBSTRING(@UNSIGN_CHARS, @COUNTER1,1) + SUBSTRING(@strInput, @COUNTER+1,LEN(@strInput)-1) ELSE SET @strInput = SUBSTRING(@strInput, 1, @COUNTER-1) +SUBSTRING(@UNSIGN_CHARS, @COUNTER1,1) + SUBSTRING(@strInput, @COUNTER+1,LEN(@strInput)- @COUNTER) BREAK END SET @COUNTER1 = @COUNTER1 +1 END SET @COUNTER = @COUNTER +1 END SET @strInput = replace(@strInput,' ','-') RETURN @strInput END


GO
/****** Object:  Table [dbo].[category]    Script Date: 11/9/2021 8:53:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[category](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](255) NOT NULL,
	[slug] [nvarchar](255) NOT NULL,
	[CreatedDate] [datetime] NULL DEFAULT (getdate()),
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[config]    Script Date: 11/9/2021 8:53:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[config](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[title] [nvarchar](255) NULL,
	[value] [nvarchar](255) NULL,
	[url] [text] NULL,
	[status] [bit] NULL DEFAULT ((1)),
	[CreatedDate] [datetime] NULL DEFAULT (getdate()),
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ExceptionLogger]    Script Date: 11/9/2021 8:53:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ExceptionLogger](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ExceptionMessage] [nvarchar](max) NULL,
	[ControllerName] [varchar](255) NULL,
	[ExceptionStackTrace] [nvarchar](max) NULL,
	[LogTime] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[product]    Script Date: 11/9/2021 8:53:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[product](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](255) NOT NULL,
	[brand] [nvarchar](255) NULL,
	[image] [varchar](255) NULL,
	[image_list] [text] NULL,
	[price] [float] NULL DEFAULT ((0)),
	[description] [nvarchar](max) NULL,
	[category_id] [int] NULL,
	[content] [nvarchar](max) NULL,
	[status] [bit] NULL DEFAULT ((1)),
	[viewCount] [int] NULL DEFAULT ((0)),
	[slug] [nvarchar](255) NOT NULL,
	[CreatedDate] [datetime] NULL DEFAULT (getdate()),
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[product_attribute_values]    Script Date: 11/9/2021 8:53:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[product_attribute_values](
	[value_id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](255) NOT NULL,
	[attribute_id] [int] NULL,
	[status] [bit] NULL DEFAULT ((1)),
PRIMARY KEY CLUSTERED 
(
	[value_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[product_attributes]    Script Date: 11/9/2021 8:53:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[product_attributes](
	[attribute_id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](255) NOT NULL,
	[product_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[attribute_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[skus]    Script Date: 11/9/2021 8:53:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[skus](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[price] [float] NULL DEFAULT ((0)),
	[product_id] [int] NULL,
	[sku] [varchar](255) NULL,
	[sku_attributes] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[users]    Script Date: 11/9/2021 8:53:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[users](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[username] [varchar](100) NOT NULL,
	[displayName] [nvarchar](max) NOT NULL,
	[email] [varchar](max) NOT NULL,
	[avatar] [nvarchar](255) NULL,
	[password] [varchar](255) NULL,
	[CreatedDate] [datetime] NULL DEFAULT (getdate()),
	[ResetPasswordCode] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[category] ON 

INSERT [dbo].[category] ([id], [name], [slug], [CreatedDate]) VALUES (2094, N'Trang điểm môi', N'trang-diem-moi', CAST(N'2021-08-14 15:58:29.003' AS DateTime))
INSERT [dbo].[category] ([id], [name], [slug], [CreatedDate]) VALUES (2095, N'Trang điểm mặt', N'trang-diem-mat', CAST(N'2021-08-14 15:58:37.213' AS DateTime))
INSERT [dbo].[category] ([id], [name], [slug], [CreatedDate]) VALUES (2096, N'Dụng cụ làm đẹp', N'dung-cu-lam-dep', CAST(N'2021-08-14 15:58:43.027' AS DateTime))
SET IDENTITY_INSERT [dbo].[category] OFF
SET IDENTITY_INSERT [dbo].[config] ON 

INSERT [dbo].[config] ([id], [title], [value], [url], [status], [CreatedDate]) VALUES (1, N'Email', N'ahihi214@gmail.com', NULL, 1, CAST(N'2021-06-29 22:27:40.480' AS DateTime))
INSERT [dbo].[config] ([id], [title], [value], [url], [status], [CreatedDate]) VALUES (2, N'Phone', N'0988932076', NULL, 1, CAST(N'2021-06-29 22:27:40.480' AS DateTime))
INSERT [dbo].[config] ([id], [title], [value], [url], [status], [CreatedDate]) VALUES (3, N'Address', N'Xuân Trung, Nam Định', NULL, 1, CAST(N'2021-06-29 22:27:40.480' AS DateTime))
SET IDENTITY_INSERT [dbo].[config] OFF
SET IDENTITY_INSERT [dbo].[product] ON 

GO
SET IDENTITY_INSERT [dbo].[product] OFF
SET IDENTITY_INSERT [dbo].[product_attribute_values] ON 

INSERT [dbo].[product_attribute_values] ([value_id], [name], [attribute_id], [status]) VALUES (4158, N'14', 4101, 0)
INSERT [dbo].[product_attribute_values] ([value_id], [name], [attribute_id], [status]) VALUES (4159, N'15', 4101, 0)
INSERT [dbo].[product_attribute_values] ([value_id], [name], [attribute_id], [status]) VALUES (4160, N'16', 4101, 1)
GO
SET IDENTITY_INSERT [dbo].[product_attribute_values] OFF
SET IDENTITY_INSERT [dbo].[product_attributes] ON 

INSERT [dbo].[product_attributes] ([attribute_id], [name], [product_id]) VALUES (4101, N'Romand', 4036)
INSERT [dbo].[product_attributes] ([attribute_id], [name], [product_id]) VALUES (4116, N'Vacosi', 4037)
INSERT [dbo].[product_attributes] ([attribute_id], [name], [product_id]) VALUES (4118, N'Innisfree', 4038)
SET IDENTITY_INSERT [dbo].[product_attributes] OFF
SET IDENTITY_INSERT [dbo].[skus] ON 

INSERT [dbo].[skus] ([id], [price], [product_id], [sku], [sku_attributes]) VALUES (4137, 160000, 4036, N'STR-JL-14', N'{"Romand":"14"}')
INSERT [dbo].[skus] ([id], [price], [product_id], [sku], [sku_attributes]) VALUES (4138, 160000, 4036, N'STR-JL-15', N'{"Romand":"15"}')
INSERT [dbo].[skus] ([id], [price], [product_id], [sku], [sku_attributes]) VALUES (4139, 160000, 4036, N'STR-JL-16', N'{"Romand":"16"}')
GO
SET IDENTITY_INSERT [dbo].[skus] OFF
SET IDENTITY_INSERT [dbo].[users] ON 

INSERT [dbo].[users] ([id], [username], [displayName], [email], [avatar], [password], [CreatedDate], [ResetPasswordCode]) VALUES (3, N'longden', N'Long Đen', N'longden214@gmail.com', N'/Uploads/images/avatar/anhnen.jpg', N'a0713003ab54e6b6d99439d670b8e7e1', CAST(N'2021-06-22 15:12:00.160' AS DateTime), N'')
SET IDENTITY_INSERT [dbo].[users] OFF
SET ANSI_PADDING ON

GO
/****** Object:  Index [UQ__category__72E12F1BB15D843D]    Script Date: 11/9/2021 8:53:19 PM ******/
ALTER TABLE [dbo].[category] ADD UNIQUE NONCLUSTERED 
(
	[name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [UQ__users__F3DBC572A4FE089E]    Script Date: 11/9/2021 8:53:19 PM ******/
ALTER TABLE [dbo].[users] ADD UNIQUE NONCLUSTERED 
(
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[product]  WITH CHECK ADD FOREIGN KEY([category_id])
REFERENCES [dbo].[category] ([id])
GO
ALTER TABLE [dbo].[product_attribute_values]  WITH CHECK ADD FOREIGN KEY([attribute_id])
REFERENCES [dbo].[product_attributes] ([attribute_id])
GO
ALTER TABLE [dbo].[product_attributes]  WITH CHECK ADD FOREIGN KEY([product_id])
REFERENCES [dbo].[product] ([id])
GO
ALTER TABLE [dbo].[skus]  WITH CHECK ADD FOREIGN KEY([product_id])
REFERENCES [dbo].[product] ([id])
GO
/****** Object:  StoredProcedure [dbo].[sp_account_login]    Script Date: 11/9/2021 8:53:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[sp_account_login]
 @username varchar(100),
 @password varchar(255)
 as
 begin
	select * from users where username = @username and password = @password
 end


GO
/****** Object:  StoredProcedure [dbo].[sp_category_list]    Script Date: 11/9/2021 8:53:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 create proc [dbo].[sp_category_list]
	@search nvarchar(255)
 as
 begin
	if	@search = ''
		select * from category order By id desc
	else
		select * from category WHERE dbo.fuConvertToUnsign1(name) LIKE N'%' + dbo.fuConvertToUnsign1(@search) + '%'  order By id desc
 end


GO
/****** Object:  StoredProcedure [dbo].[sp_InsertAttribute]    Script Date: 11/9/2021 8:53:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create PROCEDURE [dbo].[sp_InsertAttribute]
	@name nvarchar(255) ,
	@product_id int
AS  
BEGIN  
 INSERT INTO product_attributes(name,product_id) VALUES(@name,@product_id)  
 DECLARE @attribute_id INT  
 SET @attribute_id=@@IDENTITY  
 SELECT @attribute_id AS attribute_id  
END

select * from product_attributes


GO
/****** Object:  StoredProcedure [dbo].[sp_InsertAttributeValues]    Script Date: 11/9/2021 8:53:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_InsertAttributeValues]
	@name nvarchar(255),
	@attribute_id int,
	@status bit
AS  
BEGIN  
 INSERT INTO product_attribute_values(name,attribute_id,status) VALUES(@name,@attribute_id,@status)  

 DECLARE @value_id INT  
 SET @value_id=@@IDENTITY 
 SELECT @value_id AS value_id  
END
GO
/****** Object:  StoredProcedure [dbo].[sp_InsertProduct]    Script Date: 11/9/2021 8:53:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 CREATE PROCEDURE [dbo].[sp_InsertProduct]
	@name nvarchar(255) ,
	@brand nvarchar(255) ,
	@image varchar(255),
	@image_list text,
	@price float ,
	@description nvarchar(max),
	@category_id int,
	@content nvarchar(max),
	@status bit,
	@slug nvarchar(255)
AS  
BEGIN  
 INSERT INTO product(name,brand,image,image_list,price,description,category_id,content,status,slug) VALUES(@name,@brand,@image,@image_list,@price,@description,@category_id,@content,@status,@slug)  
 DECLARE @Id INT  
 SET @Id=@@IDENTITY  
 SELECT @Id AS id  
END
GO
/****** Object:  StoredProcedure [dbo].[sp_InsertSku]    Script Date: 11/9/2021 8:53:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create PROCEDURE [dbo].[sp_InsertSku]
	@sku varchar(255),
	@product_id int,
	@price float,
	@sku_attr nvarchar(max)
AS  
BEGIN  
 INSERT INTO skus(sku,price,product_id,sku_attributes) VALUES(@sku,@price,@product_id,@sku_attr)  
 DECLARE @Id INT  
 SET @Id=@@IDENTITY 
 SELECT @Id AS id  
END

GO
/****** Object:  StoredProcedure [dbo].[sp_product_list]    Script Date: 11/9/2021 8:53:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 create proc [dbo].[sp_product_list]
	@search nvarchar(255)
 as
 begin
	if	@search = ''
		select * from product p 
		order By p.id desc
	else
		select * from product p
		WHERE dbo.fuConvertToUnsign1(p.name) LIKE N'%' + dbo.fuConvertToUnsign1(@search) + '%' 
		order By p.id desc
 end
GO
/****** Object:  StoredProcedure [dbo].[sp_product_search]    Script Date: 11/9/2021 8:53:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[sp_product_search]
	@search nvarchar(255)
 as
 begin
		select * from product WHERE dbo.fuConvertToUnsign1(name) LIKE N'%' + dbo.fuConvertToUnsign1(@search) + '%' and status = 1
 end

GO
/****** Object:  StoredProcedure [dbo].[sp_search_result]    Script Date: 11/9/2021 8:53:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[sp_search_result]
	@search nvarchar(255),
	@orderby varchar(255)
as
begin
	select * from product
	WHERE dbo.fuConvertToUnsign1(name) LIKE N'%' + dbo.fuConvertToUnsign1(@search) + '%'
	ORDER by CASE WHEN @orderby='id-desc' THEN id END DESC,
			 CASE WHEN @orderby='name-asc' THEN name END ASC,
			 CASE WHEN @orderby='name-desc' THEN name END DESC,
			 CASE WHEN @orderby='price-asc' THEN price END ASC,
			 CASE WHEN @orderby='price-desc' THEN price END DESC
end
GO
/****** Object:  StoredProcedure [dbo].[sp_UpdateProduct]    Script Date: 11/9/2021 8:53:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_UpdateProduct]
	@id int,
	@name nvarchar(255),
	@brand nvarchar(255) ,
	@image varchar(255),
	@image_list text,
	@price float ,
	@description nvarchar(max),
	@category_id int,
	@content nvarchar(max),
	@status bit,
	@slug nvarchar(255)
AS  
BEGIN  
 update product set name = @name,brand = @brand,image = @image,image_list = @image_list,price = @price,description= @description,category_id = @category_id,content = @content,status = @status,slug = @slug where id = @id
 
 select id from product where id = @id
END
GO
