
@{
    ViewBag.Title = "Trang chủ";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}


<div class="card text-center">
    <div class="card-body">
        <h4 class="card-title">Chào mừng đến trang quản trị Website</h4>
        <p class="card-text">Hãy có những trải nghiệm tốt nhất với trang nhé!</p>
        <a href="https://analytics.google.com/analytics/web/provision/#/provision" target="_blank" class="btn btn-outline-primary waves-effect">Đi đến phân tích chi tiết Website</a>
    </div>
    <div class="card-footer text-muted">G Cosmetics - Mua sự yên tâm</div>
</div>
