@model GCosmetic.Models.config
@{ Layout = null; }
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error 500</title>

    <link rel="shortcut icon" href="@Model.value">
    <link href="~/Content/error.css" rel="stylesheet" />
</head>
<body translate="no">
    <p class="info">Oh No! Cody is sad! Internally sad!</p>
    <a href="/">BACK TO HOME PAGE</a>
    <h1 class="internal"><span class="five">5</span><span class="zero">0</span><span class="zero">0</span></h1>

</body>
</html>