
@{
    ViewBag.Title = "Kết quả tìm kiếm";
    ViewBag.Description = "Kết quả tìm kiếm theo từ khóa: " + ViewBag.result;

    Layout = "~/Views/Shared/_Layout.cshtml";

}
@section fscripts{
    <script src="~/Scripts/vendor/SearchResultController.js"></script>
}
<!-- Breadcrumb Area Start Here -->
<div class="breadcrumb-area">
    <div class="container">
        <ol class="breadcrumb breadcrumb-list">
            <li class="breadcrumb-item active">TÌM KIẾM</li>
        </ol>
    </div>
</div>
<!-- Breadcrumb Area End Here -->
<!-- Shop Page Start -->
<div class="main-shop-page ptb-90">
    <div class="container">
        <!-- Row End -->
        <div class="row">

            <!-- Product Categorie List Start -->
            <div class="col-lg-12 order-1 order-lg-2">
                <!-- Grid & List View Start -->
                <div class="shop-products-grid-list grid-list-top border-default universal-padding d-md-flex justify-content-md-between align-items-center mb-30">
                    <div class="grid-list-view d-flex align-items-center  mb-sm-15">
                        <ul class="nav tabs-area d-flex align-items-center">
                            <li>
                                <a class="active" data-toggle="tab" href="#grid-view"><i class="fa fa-th"></i></a>
                            </li>
                            <li><a data-toggle="tab" href="#list-view"><i class="fa fa-list-ul"></i></a></li>
                        </ul>
                        <span class="show-items">Có <b class="show-items-lenght"></b> sản phẩm được tìm thấy.</span>
                    </div>
                    <!-- Toolbar Short Area Start -->
                    <div class="main-toolbar-sorter clearfix">
                        <div class="toolbar-sorter d-md-flex align-items-center " id="product-sorter">
                            <label>Sort by:</label>
                            <select class="sorter wide">
                                <option value="id-desc">Mặc định</option>
                                <option value="name-asc">Tên từ A đến Z</option>
                                <option value="name-desc">Tên từ Z đến A</option>
                                <option value="price-asc">Giá từ thấp đến cao</option>
                                <option value="price-desc">Giá từ cao đến thấp</option>
                            </select>
                        </div>
                    </div>
                    <!-- Toolbar Short Area End -->
                </div>
                <!-- Grid & List View End -->
                <div class="shop-area mb-all-40 shop-product-ares">
                    <!-- Grid & List Main Area End -->
                    <div class="tab-content">
                        <div id="grid-view" class="tab-pane fade show active">
                            <div class="row border-hover-effect product-search-grid-view">
                                
                            </div>
                            <!-- Row End -->
                        </div>
                        <!-- #grid view End -->
                        <div id="list-view" class="tab-pane fade fix product-search-list-view">
                            <!-- Single Product Start Here -->
                           
                            <!-- Single Product End Here -->
                        </div>
                        <!-- #list view End -->
                    </div>
                    <!-- Grid & List Main Area End -->
                </div>
                <!-- Shop Breadcrumb Area Start -->
                <div class="shop-breadcrumb-area border-default mt-30 shop-product-pagination">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <ul class="pfolio-breadcrumb-list text-center">
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- Shop Breadcrumb Area End -->
                <p class="shop-product-info"><i class="fa fa-frown-o" aria-hidden="true"></i> Không tìm thấy sản phẩm nào phù hợp với lựa chọn của bạn.</p>
            </div>
            <!-- product Categorie List End -->
        </div>
        <!-- Row End -->
    </div>
    <!-- Container End -->
</div>

<script id="product_grid_view_search" type="x-tmpl-mustache">
    <div class="col-lg-3 col-md-3 col-sm-6 col-6">
        <!-- Single Product Start Here -->
        <div class="single-makal-product">
            <div class="pro-img">
                <a href="/chi-tiet/{{Slug}}-{{ProId}}" title="{{ProName}}">
                    <img src="{{Image}}" alt="product-img">
                </a>
            </div>
            <div class="pro-content">
                <h4 class="pro-title">
                    <a href="/chi-tiet/{{Slug}}-{{ProId}}" title="{{ProName}}">{{ProName}}</a>
                </h4>
                <p>
                    <span class="price">{{Price}}</span>
                </p>
            </div>
        </div>
        <!-- Single Product End Here -->
    </div>
</script>

<script id="product_list_view_search" type="x-tmpl-mustache">
    <div class="single-makal-product">
        <div class="pro-img">
            <a href="/chi-tiet/{{Slug}}-{{ProId}}" title="{{ProName}}">
                <img src="{{Image}}" alt="product-img">
            </a>
        </div>
        <div class="pro-content">
            <h4 class="pro-title">
                <a href="/chi-tiet/{{Slug}}-{{ProId}}" title="{{ProName}}">{{ProName}}</a>
            </h4>

            <p>
                <span class="price">{{Price}}</span>
            </p>
            <p>
                {{Description}}
            </p>
        </div>
    </div>
</script>